* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.itemContainer {
  border: 2px solid black;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
}

.categoryContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
}

#input-search {
  margin: 1rem;
  padding: 1rem;
}

img {
  height: 250px;
  width: 300px;
}
